# Игнорируем виртуальное окружение Python
venv/
.venv/

# Игнорируем весь фронтенд с его тяжелыми зависимостями
todo-app-frontend/
node_modules/

# Игнорируем логи и системные файлы
.git/
.idea/
.vscode/
*.log